CONFIG_BOARD_CHOICE_SIWX917=y
CONFIG_BOARD_CHOICE_SIWX917_AI_DEV_KIT=y
CONFIG_ENABLE_LIBLWIP=y
CONFIG_PBUF_LINK_ENCAPSULATION_HLEN=0
CONFIG_LWIP_NETIF_HOSTNAME=1
CONFIG_LWIP_TCPIP_CORE_LOCKING=1
CONFIG_LWIP_EAPOL_SUPPORT=0
CONFIG_LWIP_TX_PBUF_ZERO_COPY=0
CONFIG_CONFIG_TUYA_SOCK_SHIM=0
CONFIG_ETHARP_SUPPORT_STATIC_ENTRIES=1
CONFIG_LWIP_NETIF_STATUS_CALLBACK=1
CONFIG_LWIP_NETCONN_SEM_PER_THREAD=0
CONFIG_ENABLE_LWIP_DHCPD=y
CONFIG_STACK_SIZE_TIMERQ=3072
CONFIG_STACK_SIZE_WORK_QUEUE=3072
CONFIG_STACK_SIZE_MSG_QUEUE=3072
CONFIG_TUYA_HS_BLE_HOST_STACK_SIZE=3072
CONFIG_ENABLE_EXT_RAM=y
CONFIG_CONFIG_SPIRAM=y
CONFIG_ENABLE_ULP_UART=y
