config CHIP_CHOICE
    string
    default "esp32s31"

config BOARD_CHOICE
    string
    default "ESP32-S31"

config BOARD_CONFIG
    bool
    default y
    select ENABLE_EXT_RAM
    select PLATFORM_FLASHSIZE_16M

config UART_NUM0_TX_PIN
    int "UART_NUM0_TX_PIN"
    default 58
    range 0 61

config UART_NUM0_RX_PIN
    int "UART_NUM0_RX_PIN"
    default 59
    range 0 61