config CHIP_CHOICE
    string
    default "esp32s31"

config BOARD_CHOICE
    string
    default "ESP32-S31"

config BOARD_CONFIG
    bool
    default y
    select ENABLE_EXT_RAM
    select PLATFORM_FLASHSIZE_16M