CONFIG_BOARD_CHOICE_ESP32=y
CONFIG_BOARD_CHOICE_ESP32S31_KORVO_1=y
CONFIG_CAMERA_XCLK_USE_LEDC=y
CONFIG_CAMERA_OV3660=y
CONFIG_CAMERA_OV3660_DVP_YUV422_YUYV_640X480_10FPS=y
CONFIG_CAMERA_OV3660_DVP_DEFAULT_FMT_YUV422_YUYV_640X480_10FPS=y
CONFIG_CAM_CTRL_SPI_ENABLE=n
CONFIG_EXAMPLE_CAMERA_WIDTH=640
CONFIG_EXAMPLE_CAMERA_HEIGHT=480
CONFIG_EXAMPLE_CAMERA_FPS=10
CONFIG_EXAMPLE_CAMERA_IMG_ROTATION_180=y
