menu "Application config"

config EXAMPLE_AUDIO_SPEAKER_PIN
    int "audio speaker pin"
    default 28
    range 0 63

config EXAMPLE_AUDIO_TRIGGER_PIN
    int "audio trigger pin"
    default 12
    range 0 63
endmenu