CONFIG_BOARD_CHOICE_T5AI=y
CONFIG_BOARD_CHOICE_TUYA_T5AI_BOARD=y
CONFIG_TUYA_T5AI_BOARD_VERSION_102=y
CONFIG_TUYA_T5AI_BOARD_LCD_NONE=y
CONFIG_TUYA_T5AI_BOARD_CAMERA=y

CONFIG_ENABLE_TUYA_P2P=y
# CONFIG_CAMERA_DEMO_AUDIO is not set
# CONFIG_CAMERA_DEMO_P2P_FILE_H264 is not set
CONFIG_CAMERA_DEMO_LOCAL_STORE=y
CONFIG_LOCAL_STORE_ROOT="/sdcard/media"
CONFIG_LOCAL_STORE_REC_SUBDIR="rec"
CONFIG_LOCAL_STORE_PATH_MAX=256
CONFIG_LOCAL_STORE_STAGE_KB=512
CONFIG_LOCAL_STORE_WRITE_KB=64
CONFIG_LOCAL_STORE_SYNC_MS=3000
CONFIG_LOCAL_STORE_KEEP_DAYS=0
CONFIG_LOCAL_STORE_READ_KB=320
CONFIG_ENABLE_IPC_RING_BUFFER=y
CONFIG_CAMERA_DEMO_SD_LIVE_RECORD=y
CONFIG_CAMERA_DEMO_SD_RECORD_MAX_SEC=120
# CONFIG_CAMERA_DEMO_PB_SEED is not set

CONFIG_ENABLE_MBEDTLS_SSL_MAX_CONTENT_LEN=4096
CONFIG_CAMERA_DEMO_WIDTH=480
CONFIG_CAMERA_DEMO_HEIGHT=480
CONFIG_CAMERA_DEMO_FPS=20
CONFIG_CAMERA_DEMO_KBPS=1024
