CONFIG_PROJECT_VERSION="1.0.1"
CONFIG_TUYA_PRODUCT_ID="alon7qgyjj8yus74"
CONFIG_BUTTON_NAME="ai_chat_button"
CONFIG_ENABLE_COMP_AI_VIDEO=y
CONFIG_ENABLE_COMP_AI_PICTURE=y
CONFIG_COMP_AI_VIDEO_WIDTH=640
CONFIG_COMP_AI_VIDEO_HEIGHT=480
CONFIG_COMP_AI_VIDEO_FPS=10
CONFIG_ENABLE_SERIAL_CLI_CMD=y
CONFIG_ENABLE_AI_CHAT_GUI_WECHAT=y
CONFIG_ENABLE_AI_UI_TEXT_STREAMING=y
CONFIG_ENABLE_LVGL_TP=y
CONFIG_BOARD_CHOICE_ESP32=y
CONFIG_BOARD_CHOICE_ESP32S31_KORVO_1=y
CONFIG_ENABLE_LVGL_DIRECT_FLUSH=y
CONFIG_ENABLE_LVGL_DRAW_BUF_PSRAM=y
CONFIG_BUTTION_STACK_SIZE=4096
CONFIG_AI_CLIENT_STACK_SIZE=8192
