CONFIG_PROJECT_VERSION="1.0.1"
CONFIG_TUYA_PRODUCT_ID="u9bu0onwwwj6eyov"
CONFIG_BOARD_CHOICE_T5AI=y
CONFIG_BOARD_CHOICE_TUYA_T5AI_PIXEL=y
CONFIG_ENABLE_BUTTON_2=y
CONFIG_ENABLE_BUTTON_3=y
CONFIG_BUTTON_NAME="button_ok"
CONFIG_BUTTON_NAME_2="button_a"
CONFIG_BUTTON_NAME_3="button_b"
CONFIG_ENABLE_LEDS_PIXEL=y
CONFIG_PIXEL_DEVICE_NAME="pixel"
