# CONFIG_ENABLE_GPIO is not set
# CONFIG_ENABLE_I2C is not set
# CONFIG_ENABLE_SPI is not set
CONFIG_ENABLE_UART=y
CONFIG_ENABLE_BT_SERVICE=y
CONFIG_AI_HEAP_IN_PSRAM=y
CONFIG_ENABLE_MBEDTLS_SSL_MAX_CONTENT_LEN=10240
CONFIG_ENABLE_CUSTOM_CONFIG=y
CONFIG_ENABLE_MBEDTLS_SSL_MAX_FRAGMENT_LENGTH=y
CONFIG_ENABLE_MBEDTLS_SHA384_C=y
CONFIG_ENABLE_MBEDTLS_ECP_DP_SECP384R1_ENABLED=y
CONFIG_ENABLE_MBEDTLS_ECP_DP_CURVE25519_ENABLED=y
