menu "Application config"

    config EXAMPLE_SPI_PORT
        int "spi port"
        default 0
        range 0 4

    config EXAMPLE_SPI_BAUDRATE
        int "spi baudrate"
        default 20000000
        range 1000000 100000000 

    config EXAMPLE_ENABLE_LCD
        bool "Enable ST7789 LCD display"
        default y

    config EXAMPLE_LCD_WIDTH
        int "LCD width"
        default 240
        range 120 480

    config EXAMPLE_LCD_HEIGHT
        int "LCD height"
        default 320
        range 120 480

    config EXAMPLE_LCD_MOSI_PIN
        int "LCD SPI MOSI pin"
        default 11

    config EXAMPLE_LCD_SCLK_PIN
        int "LCD SPI SCLK pin"
        default 12

    config EXAMPLE_LCD_MISO_PIN
        int "LCD SPI MISO pin (-1 for not used)"
        default -1

    config EXAMPLE_LCD_CS_PIN
        int "LCD CS pin"
        default 21

    config EXAMPLE_LCD_DC_PIN
        int "LCD DC pin"
        default 40

    config EXAMPLE_LCD_RST_PIN
        int "LCD RST pin (-1 for not used)"
        default -1

    config EXAMPLE_LCD_BL_PIN
        int "LCD backlight pin (-1 for not used)"
        default -1

    config EXAMPLE_LCD_IO_EXPANDER
        bool "Use XL9555 IO expander for LCD control (DNESP32S3)"
        default y

    if EXAMPLE_LCD_IO_EXPANDER
        config EXAMPLE_I2C_SCL_PIN
            int "XL9555 I2C SCL pin"
            default 42

        config EXAMPLE_I2C_SDA_PIN
            int "XL9555 I2C SDA pin"
            default 41

        config EXAMPLE_LCD_IO_BL_PIN
            int "XL9555 LCD backlight IO expander pin"
            default 8

        config EXAMPLE_LCD_IO_RST_PIN
            int "XL9555 LCD reset IO expander pin"
            default 10

        config EXAMPLE_LCD_IO_PWR_PIN
            int "XL9555 LCD power IO expander pin"
            default 11

        config EXAMPLE_CTP_IO_RST_PIN
            int "XL9555 CTP reset IO expander pin"
            default 9
    endif
endmenu