CONFIG_PROJECT_VERSION="1.0.1"
CONFIG_TUYA_PRODUCT_ID="alon7qgyjj8yus74"
CONFIG_BUTTON_NAME="ai_chat_button"
CONFIG_BOARD_CHOICE_JIELI=y
CONFIG_BOARD_CHOICE_AC79_DEVKITBOARD=y
# CONFIG_JIELI_MINIMAL_HELLO is not set
CONFIG_ENABLE_BT_SERVICE=y
# CONFIG_ENABLE_NIMBLE is not set
CONFIG_ENABLE_MEDIA=y
CONFIG_ENABLE_AUDIO_CODECS=y
CONFIG_ENABLE_AI_COMPONENTS=y
CONFIG_ENABLE_COMP_AI_MODE_HOLD=y
# CONFIG_ENABLE_COMP_AI_MODE_ONESHOT is not set
# CONFIG_ENABLE_COMP_AI_MODE_WAKEUP is not set
# CONFIG_ENABLE_COMP_AI_MODE_FREE is not set
CONFIG_ENABLE_BUTTON=y
CONFIG_ENABLE_JIELI_ADKEY_BUTTON=y
# Audio-only boards have no Tuya display/GPIO backend.
# CONFIG_ENABLE_COMP_AI_DISPLAY is not set
# CONFIG_ENABLE_DISPLAY is not set
# CONFIG_ENABLE_LIBLVGL is not set
