CONFIG_PROJECT_VERSION="1.0.1"
CONFIG_TUYA_PRODUCT_ID="alon7qgyjj8yus74"
CONFIG_ENABLE_COMP_AI_AUDIO_CODEC_OPUS=y
# CONFIG_ENABLE_COMP_AI_DISPLAY is not set
CONFIG_BOARD_CHOICE_RASPBERRY_PI=y
# CONFIG_ENABLE_KEYBOARD_INPUT is not set
CONFIG_BUTTON_NAME="s"
CONFIG_ENABLE_TUYA_CODEC_OPUS=y
# CONFIG_ENABLE_TUYA_CODEC_OPUS_IPC is not set
CONFIG_ENABLE_AI_PLAYER=y
CONFIG_ENABLE_BUILD_OPUS=y
CONFIG_ENABLE_AUDIO_SUBSYS=y
# CONFIG_AUDIO_SUBSYS_MODULE_AEC is not set
# CONFIG_AUDIO_SUBSYS_MODULE_AGC is not set
# CONFIG_AUDIO_SUBSYS_MODULE_FILTER is not set
# CONFIG_AUDIO_SUBSYS_MODULE_NS is not set
# CONFIG_AUDIO_SUBSYS_MODULE_RESAMPLE is not set
CONFIG_AUDIO_SUBSYS_MULTI_BASE_SPEEXDSP=y
CONFIG_AUDIO_SUBSYS_MODULE_KWS=y
CONFIG_ENABLE_AUDIO_ALSA=y