# Ktuyaconf
config PLATFORM_CHOICE
    string
    default "Kendryte_K230"

config OPERATING_SYSTEM
    int
    default 98
    ---help---
        100     /* LINUX */
        98      /* RTOS */
        3       /* Non-OS */

rsource "./TKL_Kconfig"
rsource "./OS_SERVICE_Kconfig"

choice
    prompt "Choice a board"

    config BOARD_CHOICE_LCKFB_K230
        bool "LCKFB_K230"
        if (BOARD_CHOICE_LCKFB_K230)
            rsource "./LCKFB_K230/Kconfig"
        endif

# <new-board-add: This line cannot be deleted or modified>

endchoice
